@charset "UTF-8";
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK6Ucnt8gjcHpqyffjHeZWDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
	font-family: Libre Baskerville, sans-serif;
	background-image: url("index_files/bg.jpeg");
    background-repeat: repeat;
    color: white;
	}

header {
	text-align: center;
	}

a {
	color: silver;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
	}

nav ul {
	text-align: center;
	margin: 0;
    padding: 0;
	}
	
nav li {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
	}
	
nav a{
	display: block;
	display: inline;
	}

nav a:hover {
	display: block;
	display: inline;
	}
	
header hr {
	width: 80vw;
	margin-bottom: 6vh;
	}
	
h1.pageHeader {
	text-align: center;
	font-size: 5vw;
	margin: 0;
    padding: 0;
	}

article h2 {
	text-align: center;
	margin: 0;
	}
	
article hr {
	width: 40vw;
}

article p.subheader {
	text-align: center;
	font-size: 1vw;
	letter-spacing: 0.1vw;
	padding-bottom:0.5vw;
	
}

.blogpost {
	padding-left: 20vw;
	padding-right: 20vw;
	}
